body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    height:100%;
    left:50%;
    width: 100%;
    background-color: #8CBABD;
    text-align: center;
}

.image0{
    width: 150px;
    height: 100px;
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.image1{

}

.image2{

}

.image3{

}

.image4{

}

.image5{

}

#AppTitle{
  margin-top: 2.5%;
  color: white;
  font-weight: bold;
}

sidebar {
  position: absolute;
  width:50%;
  height:100%;
}

#AddressForm {
  width:90%;
}

#ToQuizSlide {
  margin-top: 2.5%;
  color: white;
  font-weight: bold;
  align-content: center;
  border-radius: 25px;
  background-color: #147A8F;
  padding: 10px 10px;
}
